<html style="display: block;">

<head>
	<iframe id="zabFrame" height="0" src="https://cdn.pagesense.io/stage-script/framePageNew-01d072f094_.html" style="display: none;"></iframe>
	<meta http-equiv="Content-Type" content="text/html">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title">
	<link rel="SHORTCUT ICON" href="https://www.zoho.com/books/favicon.ico" type="image/x-icon">
	<style>
	button,
	input {
		font: inherit
	}
	</style>
	<title>Start Your Free Trial (14 Days) - Zoho Books</title>
	<meta name="description" content="Sign up to the Zoho Books 14-day free trial. It takes less than a minute. It's time to make your accounting really simple!">
	<link rel="alternate" href="https://www.zoho.com/ae/books/signup/" hreflang="en-ae">
	<link rel="alternate" href="https://www.zoho.com/au/books/signup/" hreflang="en-au">
	<link rel="alternate" href="https://www.zoho.com/bh/books/signup/" hreflang="en-bh">
	<link rel="alternate" href="https://www.zoho.com/ca/books/signup/" hreflang="en-ca">
	<link rel="alternate" href="https://www.zoho.com/books/signup/" hreflang="x-default">
	<link rel="alternate" href="https://www.zoho.com/in/books/signup/" hreflang="en-in">
	<link rel="alternate" href="https://www.zoho.com/kw/books/signup/" hreflang="en-kw">
	<link rel="alternate" href="https://www.zoho.com/om/books/signup/" hreflang="en-om">
	<link rel="alternate" href="https://www.zoho.com/qa/books/signup/" hreflang="en-qa">
	<link rel="alternate" href="https://www.zoho.com/sa/books/signup/" hreflang="en-sa">
	<link rel="alternate" href="https://www.zoho.com/uk/books/signup/" hreflang="en-gb">
	<link rel="alternate" href="https://www.zoho.com/us/books/signup/" hreflang="en-us">
	<link rel="alternate" href="https://www.zoho.com/za/books/signup/" hreflang="en-za">
	<link rel="canonical" href="https://www.zoho.com/us/books/signup/">
	<style type="text/css">
	.close-signup,
	.signing .signup {
		cursor: pointer
	}

	.close-signup {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 13px;
		color: #27aac8
	}

	.signup-toggle-container {
		display: none;
		width: 450px;
		height: auto;
		z-index: 10;
		padding: 30px 0;
		position: absolute;
		top: 33px;
		right: 0;
		background-color: #f4fafc;
		border: 1px solid #ddd;
		-webkit-transition: width .5s ease;
		-o-transition: width .5s ease;
		transition: width .5s ease
	}

	.inline-signup .form-control {
		-webkit-box-sizing: content-box;
		box-sizing: content-box
	}

	.inline-signup .form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 1px solid #eee
	}

	.inline-signup input:focus::-webkit-input-placeholder {
		color: #999
	}

	.inline-signup input:focus:-moz-placeholder {
		color: #999
	}

	.inline-signup input:focus:-ms-input-placeholder {
		color: #999
	}

	.inline-signup input:focus::-moz-placeholder {
		color: #999
	}

	.inline-signup input:focus,
	.signup-toggle-container .form-control:focus {
		border-color: #eee
	}

	.inline-signup:-moz-placeholder,
	.inline-signup:-ms-input-placeholder,
	.inline-signup::-moz-placeholder,
	.inline-signup::-webkit-input-placeholder {
		font-size: 12px
	}

	.inline-signup:-ms-input-placeholder {
		font-size: 14px
	}

	.inline-signup::-webkit-input-placeholder {
		font-size: 14px
	}

	.inline-signup select.form-control {
		width: 98%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}

	.inline-signup h3 {
		text-align: center;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 400
	}

	.inline-signup .za-newsletter-container {
		display: none!important
	}

	.inline-signup .btn-prim,
	.inline-signup .btn-prim:focus,
	.inline-signup .btn-prim:hover {
		background-color: #f0483e
	}

	.inline-signup .sign-agree {
		font-size: 10px;
		top: -5px;
		line-height: 15px
	}

	.inline-signup .sign-agree a {
		color: #999
	}

	.inline-signup .social {
		color: #999;
		text-align: center;
		cursor: pointer
	}

	.inline-signup .social p {
		color: #b3b3b3;
		margin-bottom: 15px
	}

	.inline-signup {
		display: inline-block;
		text-align: center;
		margin: 0 10px
	}

	.signupform {
		margin: 0 auto;
		max-width: 80%
	}

	.za-name-container {
		display: none
	}

	.signupform .form-group {
		margin-bottom: 10px;
		position: relative
	}

	select.ZI-country {
		border-radius: 0;
		width: 324px;
		font-weight: lighter;
		font-family: Open Sans, arial;
		font-size: 13px;
		color: #d6d6d6;
		padding: 4px 0 4px 5px;
		border: 1px solid #e0e0e0;
		font-weight: 400;
		color: #444
	}

	.form-control {
		display: block;
		width: 91%;
		height: 32px;
		padding: 5px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #eee
	}

	select.form-control {
		height: 48px;
		width: 99%;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none
	}

	select::-ms-expand {
		display: none
	}

	.select-placeholder-color {
		color: #999
	}

	.signupform .form-control::-moz-placeholder {
		color: #999;
		opacity: 1
	}

	.signupform .form-control:-ms-input-placeholder {
		color: #999
	}

	.signupform .form-control::-webkit-input-placeholder {
		color: #999
	}

	.signupform .form-control[disabled],
	.signupform .form-control[readonly],
	.signupform fieldset[disabled] .form-control {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1
	}

	.btn-signup {
		display: inline-block;
		background-color: #48bbb4;
		padding: 0 25px;
		color: #fff;
		font-weight: 300;
		font-size: 16px;
		letter-spacing: .03em;
		line-height: 48px;
		border: none;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
		cursor: pointer
	}

	.btn-signup:focus,
	.btn-signup:hover {
		background-color: #31a39b;
		outline: 0
	}

	.btn-signup:disabled {
		opacity: .3!important
	}

	.signupform .btn-signup {
		display: block;
		width: 100%
	}

	.password-strength {
		background: none repeat scroll 0 0 #f7f7f7;
		display: block;
		float: right;
		margin-left: 351px;
		margin-top: -35px;
		width: 50px;
		display: none;
		position: absolute;
		top: 43px;
		right: 30px
	}

	.password-strength,
	.password-strength div {
		border-radius: 5px;
		height: 13px
	}

	.password-strength {
		right: 39px
	}

	.field-msg {
		width: 98%
	}

	.field-msg .error {
		color: #db6767;
		font-size: 12px
	}

	.field-error .field-msg {
		display: block!important
	}

	.za-captcha-container input[type=text] {
		width: 220px;
		margin-top: 6px
	}

	.social {
		color: #999;
		text-align: center;
		cursor: pointer
	}

	.social p {
		color: #b3b3b3;
		margin-bottom: 15px
	}

	.social li {
		display: inline-block;
		text-align: center
	}

	.social-signup {
		text-align: center;
		border-top: 1px solid #ccc;
		cursor: pointer;
		padding-top: 30px;
		margin-top: 25px;
		position: relative
	}

	.social-signup p {
		color: #777;
		display: inline-block;
		position: absolute;
		top: -13px;
		width: 130px;
		padding: 2px;
		background: #fff;
		left: 50%;
		margin-left: -63px
	}

	.social-signup li {
		width: 22px;
		height: 22px;
		text-align: center;
		display: inline-block
	}

	.social-signup li+li {
		margin-left: 15px
	}

	.social ul,
	.social-icons-list,
	.social-sign-in {
		display: inline-block;
		vertical-align: middle
	}

	.social ul,
	.social-sign-in {
		padding: 15px 0
	}

	[class^=social-icon-] {
		background-image: url(https://www.zoho.com/books/images/signup/zoho-social-icons-1x.png);
		margin: 0 5px;
		background-repeat: no-repeat;
		background-size: 200px 131px;
		display: inline-block;
		vertical-align: middle
	}

	.social-icon-google {
		background-position: -12px -75px;
		width: 111px;
		height: 47px
	}

	.social-icon-yahoo {
		background-position: -43px -43px;
		width: 21px;
		height: 21px
	}

	.social-icon-fb {
		background-position: -73px -43px;
		width: 21px;
		height: 21px
	}

	.social-icon-linkedin {
		background-position: -103px -43px;
		width: 21px;
		height: 21px
	}

	.social-icon-twitter {
		background-position: -133px -43px;
		width: 21px;
		height: 21px
	}

	.social-icon-windows {
		background-position: -165px -45px;
		width: 18px;
		height: 18px
	}

	@media only screen and (-webkit-min-device-pixel-ratio:2),
	only screen and (min-device-pixel-ratio:2) {
		[class^=social-icon-] {
			background-image: url(https://www.zoho.com/books/images/signup/zoho-social-icons-2x.png)
		}
	}

	.ZI-popup {
		top: 50%;
		left: 50%;
		max-width: 650px;
		width: 75%;
		background: #fff;
		padding: 30px;
		z-index: 222;
		position: fixed;
		box-shadow: -2px 0 6px #666;
		-webkit-box-shadow: -2px 0 6px #666;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}

	.ZI-popup h3 {
		color: #555454;
		font-size: 24px;
		font-weight: lighter
	}

	.ZI-con-desc {
		color: #666;
		clear: both;
		margin: 10px 0 30px;
		line-height: 24px;
		float: left
	}

	.ZI-load {
		background-color: #000;
		opacity: .3;
		position: fixed;
		z-index: 101;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0
	}

	.ZI-loading {
		background: url(https://www.zoho.com/books/signup/images/loading.gif) no-repeat;
		background-position: 16px 17px;
		height: 37px;
		width: 230px;
		margin: 10px auto;
		clear: both
	}

	::-webkit-input-placeholder {
		color: #acacac
	}
	</style>
	<style type="text/css">
	@font-face {
		font-family: Zoho Puvi;
		src: url(https://fonts.zohostatic.com/zohopuvi/3.0/zoho_puvi_regular.woff2) format("woff2"), url(https://fonts.zohostatic.com/zohopuvi/3.0/zoho_puvi_regular.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap
	}

	@font-face {
		font-family: Zoho Puvi;
		src: url(https://fonts.zohostatic.com/zohopuvi/3.0/zoho_puvi_semibold.woff2) format("woff2"), url(https://fonts.zohostatic.com/zohopuvi/3.0/zoho_puvi_semibold.woff) format("woff");
		font-weight: 600;
		font-display: swap;
		font-style: normal
	}

	a,
	body,
	div,
	em,
	h3,
	html,
	iframe,
	img,
	p,
	span,
	u {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		outline: 0
	}

	header,
	section {
		display: block
	}

	a {
		color: #226ed5;
		text-decoration: none
	}

	body,
	html {
		width: 100%;
		height: 100%
	}

	.btn-signup,
	.form-control,
	.form-field,
	body {
		font-family: Zoho Puvi, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif
	}

	body {
		max-width: 1536px;
		position: relative;
		font-size: 16px
	}

	input,
	select {
		font-size: 16px!important
	}

	.sign-header {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1;
		max-width: 1536px;
		height: 60px;
		width: 100%
	}

	.product-name,
	.sign-in {
		position: absolute;
		left: 0;
		right: 0;
		height: 60px;
		line-height: 60px;
		font-weight: 600;
		border-bottom: 1px solid #e6ebf0
	}

	.sign-in {
		font-size: 15px;
		color: #aaa;
		left: 40%;
		margin-right: 1%;
		padding-right: 1%;
		text-align: right;
		background-color: #fff
	}

	.product-name {
		font-size: 24px;
		color: #000;
		margin-left: 1%;
		padding-left: 1%;
		background-color: #ebf4fc;
		right: 60%
	}

	.product-name a {
		display: inline-block
	}

	.product-name span {
		color: #000;
		vertical-align: middle
	}

	.books-logo {
		width: 120px;
		height: 60px;
		vertical-align: middle
	}

	.testimonial-section {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 40%;
		max-width: 615px;
		background-color: #ebf4fc
	}

	.testimonial {
		width: 384px
	}

	.banner-img,
	.testimonial {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}

	.banner-img {
		width: 90%
	}

	.banner-content {
		text-align: center;
		padding: 0 5px;
		line-height: 18px
	}

	.testimonial:before {
		content: "";
		width: 60px;
		height: 35px;
		position: absolute;
		top: -20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		background: #ebf4fc url(https://www.zoho.com/books/signup/images/quote.svg) 50% no-repeat
	}

	.testimonial-content {
		border-top: 1px solid #d6e0e9;
		padding: 25px 20px 20px;
		line-height: 36px;
		font-family: Zoho Puvi, serif
	}

	.customer-info,
	.testimonial-content {
		border-bottom: 1px solid #d6e0e9;
		text-align: center
	}

	.customer-info {
		font-size: 0;
		padding: 15px 35px
	}

	.customer-img {
		width: 20%
	}

	.customer-details,
	.customer-img {
		display: inline-block;
		vertical-align: middle
	}

	.customer-details {
		max-width: 75%;
		margin-left: 5%;
		text-align: left;
		font-size: 14px
	}

	.customer-name {
		font-size: 18px;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px
	}

	.form-grp {
		margin-bottom: 10px;
		position: relative
	}

	.form-field {
		display: block;
		line-height: 1.42857143;
		background-color: #fff;
		background-image: none;
		border: 1px solid #eee;
		cursor: pointer
	}

	.za-email-suggestion,
	.za-newsletter-container,
	.za-tos-container {
		line-height: 18px;
		font-size: 13px
	}

	.za-newsletter-container .newsletter-label,
	.za-tos-container .tos-label {
		cursor: pointer;
		display: inline-block;
		width: 90%;
		margin-bottom: 5px
	}

	.za-newsletter-container .newsletter-checkbox,
	.za-tos-container .tos-checkbox {
		cursor: pointer;
		width: 5%;
		float: left;
		height: 15px;
		vertical-align: top
	}

	.social-icon-google {
		width: 110px
	}

	.social-icon-yahoo {
		background-position: -43px -12px
	}

	.social-icon-fb {
		background-position: -73px -12px
	}

	.social-icon-linkedin {
		background-position: -103px -12px
	}

	.social-icon-twitter {
		background-position: -133px -12px
	}

	.social-icon-windows {
		background-position: -165px -14px
	}

	.signup-section {
		width: 60%;
		padding: 90px 0 50px;
		position: absolute;
		left: 40%
	}

	.signup-heading {
		width: 390px;
		font-size: 24px;
		line-height: 1.5em;
		margin: 0 auto 15px;
		text-align: center
	}

	.heading-description {
		font-size: 16px;
		margin: 5px auto 26px;
		width: 80%;
		color: #8d8d8d;
		text-align: center
	}

	.signup-container {
		width: 450px;
		margin: auto
	}

	.signupform {
		-webkit-tap-highlight-color: transparent
	}

	.signupform .form-group {
		margin-bottom: 13px
	}

	@media screen and (min--moz-device-pixel-ratio:0) {
		select:-moz-focusring {
			color: #000;
			color: transparent;
			text-shadow: 0 0 0 #000
		}
		.form-grp select.form-field {
			padding-left: 28px
		}
	}

	.form-field,
	.form-group .form-control {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px 12px;
		height: auto;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0
	}

	.form-group .form-control,
	.form-grp .form-field {
		padding-left: 32px;
		border-color: #d6d6d6
	}

	.form-group .form-control:focus,
	.form-grp .form-field:focus {
		border: 1px solid #226ed5
	}

	.company-name-container:after,
	.za-contact-number-container:after,
	.za-country-container:after,
	.za-country_state-container:after,
	.za-email-container:after,
	.za-password-container:after {
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		content: "";
		position: absolute;
		top: 13px;
		left: 11px
	}

	.company-name-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/org.svg)
	}

	.za-email-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/mail.svg)
	}

	.za-contact-number-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/call.svg)
	}

	.za-password-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/password.svg)
	}

	.za-country-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/global.svg)
	}

	.za-country_state-container:after {
		background-image: url(https://www.zoho.com/books/signup/images/state.svg)
	}

	.za-country-container:before,
	.za-country_state-container:before {
		position: absolute;
		width: 6px;
		height: 6px;
		border-top: 2px solid #bfbfbf;
		border-left: 2px solid #bfbfbf;
		right: 7%;
		content: "";
		top: 50%;
		-webkit-transform: translateY(-50%) rotate(-135deg);
		-ms-transform: translateY(-50%) rotate(-135deg);
		transform: translateY(-50%) rotate(-135deg)
	}

	.newsletter-checkbox,
	.tos-checkbox {
		margin-left: 0
	}

	.btn-signup,
	.btn-signup:focus,
	.btn-signup:hover {
		background-color: #226ed5
	}

	@media (min-height:700px) {
		body,
		html {
			overflow: hidden
		}
		.signup-section {
			top: 55%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%)
		}
	}

	@media (min-height:1050px) {
		.signup-section,
		.testimonial {
			top: 40%
		}
	}

	@media (min-width:1537px) {
		body {
			font-size: 20px
		}
		.sign-header {
			max-width: none
		}
		.product-name {
			margin-left: 15px;
			padding-left: 15px;
			max-width: 585px
		}
		.sign-in {
			left: 615px;
			margin-right: 15px;
			padding-right: 15px;
			font-size: 20px
		}
		.testimonial {
			width: 520px
		}
		.testimonial-content {
			line-height: 42px
		}
		.customer-name {
			font-size: 22px
		}
		.customer-name+p {
			font-size: 16px
		}
		.signup-heading {
			font-size: 27px
		}
		.signupform {
			max-width: 90%
		}
		.form-field,
		.form-group .form-control {
			padding: 13px 12px 13px 32px
		}
		.company-name-container:after,
		.za-contact-number-container:after,
		.za-country-container:after,
		.za-country_state-container:after,
		.za-email-container:after,
		.za-password-container:after {
			top: 16px
		}
	}

	@media (max-width:1024px) {
		.sign-header {
			background-color: #fff
		}
		.product-name,
		.sign-in {
			background-color: rgba(0, 0, 0, 0)
		}
		.testimonial-section {
			display: none
		}
		.signup-section {
			width: 100%;
			left: auto
		}
		.signup-container {
			width: 70%
		}
	}

	@media screen and (max-width:650px) {
		.signup-container {
			width: auto
		}
		.books-logo {
			width: 50%
		}
	}

	@media screen and (max-width:500px) {
		.product-name,
		.sign-in {
			font-size: 14px;
			left: 0;
			right: 0
		}
		.product-name {
			z-index: 2
		}
		.signup-heading {
			width: 300px;
			font-size: 18px
		}
		.heading-description {
			font-size: 14px
		}
		.books-logo {
			width: 40%
		}
	}

	@media (max-width:400px) {
		.product-name span {
			display: none
		}
		.signup-container {
			padding: 0 4%
		}
		.sign-in {
			font-size: 10px
		}
		.books-logo {
			width: 30%
		}
		.signupform {
			max-width: 100%
		}
	}
	</style>
	<style type="text/css">

	</style>
	<link rel="stylesheet" href="https://css.zohocdn.com/salesiq/styles/floatbutton1_764bf172fd710d0d540b777a5a05ab02_.css">
	<link rel="stylesheet" href="https://css.zohocdn.com/salesiq/styles/floatbuttonpostload_9944f1d8c3bf8fbdf2e5b4cd91083d58_.css"> </head>

<body>
	<header class="sign-header">
		<p class="product-name">
			<a href="/us/books/"><img class="books-logo" src="https://www.zoho.com/books/images/books-black.svg" alt="Zoho Books - Accounting Software"></a>
		</p>
		<p class="sign-in">New User? <a href="/users/sign_up">Sign up</a></p>
	</header>
	<section class="testimonial-section">
		<div class="testimonial">
			<p class="testimonial-content">I've not seen anything as affordable and easy to use as Zoho Books. The reports are simple to run and can be scheduled to generate automatically. As a small business owner, I no longer worry about ageing receivables with the automatic payment reminders in Zoho Books.</p>
			<div class="customer-info"><img src="https://www.zoho.com/books/signup/images/stephen-circle.png" alt="Stephen J. Lalla - Zoho Books Customer - US" class="customer-img">
				<div class="customer-details">
					<p class="customer-name">Stephen J. Lalla</p>
					<p>CEO, Dynamic&nbsp;Image&nbsp;Marketing&nbsp;Systems, Inc., US</p>
				</div>
			</div>
		</div>
	</section>
	<section class="signup-section">
		<h1 class="signup-heading" id="signup-heading">ProfitView</h1>
		<div class="signup-container" id="zc-signup">
			<div class="ZI-form" style="opacity: 1;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form-tag signupform'} ) do |f| %>
          <div class="form-group za-email-container">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
                              class: 'bot-bor-design form-control', placeholder: 'Email' %>
          </div>

          <div class="form-group za-password-container">
            <%= f.password_field :password, autocomplete: "current-password",
                                 class: 'bot-bor-design form-control pwd-field', placeholder: 'Password' %>
            <%= image_tag 'visibility.png', class: 'pswd-visible-icon' %>
          </div>

          <div class='forgot-password pb-3'>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <small><%= link_to "Forgot Password?", new_password_path(resource_name), class: 'text-secondary' %></small>
            <% end %>
            <br>
            <small><%= link_to "New User? Sign up", new_user_registration_path, :class => 'text-secondary pt-2' %></small>
          </div>
          <% if false and devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.submit "Sign In", class: 'btn-signup' %>
          </div>
        <% end %>
				<div class="form-group social">
					<div class="social-sign-in">or sign in using</div>
					<ul>
						<li><span alt="Google" title="Google" onclick="FederatedSignIn.GO('GOOGLE');zohoFedClickEvent('Google');" class="social-icon-google"></span></li>
						<li style="display: inline-block;"><span alt="Yahoo" title="Yahoo" onclick="FederatedSignIn.GO('YAHOO');zohoFedClickEvent('Yahoo');" class="social-icon-yahoo"></span></li>
						<li><span alt="Facebook" title="Facebook" onclick="FederatedSignIn.GO('FACEBOOK');zohoFedClickEvent('Facebook');" class="social-icon-fb"></span></li>
						<li><span alt="LinkedIn" title="LinkedIn" onclick="FederatedSignIn.GO('LINKEDIN');zohoFedClickEvent('Linkedin');" class="social-icon-linkedin"></span></li>
						<li><span alt="Twitter" title="Twitter" onclick="FederatedSignIn.GO('TWITTER');zohoFedClickEvent('Twitter');" class="social-icon-twitter"></span></li>
						<li><span alt="Office365" title="Office365" onclick="FederatedSignIn.GO('AZURE');zohoFedClickEvent('Office365');" class="social-icon-windows"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section style="display:none" id="ZI-load">
		<div class="ZI-load"></div>
		<div class="ZI-popup">
			<h3>It's time to make your accounting really simple!</h3>
			<p class="ZI-con-desc">While we set up your account, please remember to verify your account by clicking on the link we sent to your registered email address.</p>
			<div class="ZI-loading">&nbsp;</div>
		</div>
	</section>

	<div class="zsiq_floatmain zsiq_theme1 siq_bR" data-id="zsalesiq" style="visibility: hidden; display: none;">
		<div id="zsiq_float" class="zsiq_float " style="font-family:inherit">
			<div class="zsiq_flt_rel"><em id="zsiq_agtpic" class="zsiq_user siqico-chat"></em>
				<div id="titlediv" class="zsiq_cnt">
					<div id="zsiq_maintitle" class="zsiq_ellips" title="We're Online!">We're Online!</div>
					<p id="zsiq_byline" class="zsiq_ellips" title="How may I help you today?">How may I help you today?</p><em class="siqico-close"></em></div><em id="zsiq_unreadcnt" class="zsiq_unrdcnt" style="display: none;"></em><em id="zsiq_avcall" class="zsiqmin_unrdcnt zsiq_unrdcnt siqico-mincall" style="display: none;"></em></div>
		</div>
	</div>
	<style id="zsiqcustomcss" data-id="zsalesiq">
	.zsiq_flt_rel {
		background-color: #0091ff !important;
	}

	.zsiq_seasonal .st2 {
		fill: #0091ff !important;
	}
	</style>
</html>
